<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% load menu_tags %}
    <head>    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        {% draw_menu 'Транспорт' %}
        {% draw_menu 'Спортивный инвентарь' %}
        {% block content %}
        {% endblock %}
    </body>
