{% load mptt_tags %}
<span class="menu-title">{{ menu_title }}</span>
<ul class="root">
  {% recursetree menu %}
    <li>
      <a class="node_link {% if node.id == obj.id %}active{% endif %}" href="{% url 'menu:detail' node.id %}">
        {{ node.name }}
      </a>
      {% if node.tree_id == obj.tree_id and node.level <= obj.level and node in obj.get_family %}
        <ul class="children">
            {{children.get_absolute_url}}{{ children }}
        </ul>
      {% endif %}
    </li>
  {% endrecursetree %}
</ul>